* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.recipe-container {
    width: 500px;
    background-color: #f4faff;
    border-radius: 0.75rem;
    padding: 1.5rem;
    border: 1px solid #cdd5e1;
}

.recipe-header {
    text-align: center;
}

.recipe-image {
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid #cdd5e1;
}

h1 {
    font-size: 1.75rem;
    color: #3a4a67;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.description {
    color: #596278;
    font-size: 1rem;
}

.prep-time, .ingredients, .instructions, .nutrition {
    margin-top: 1.5rem;
    padding: 1.25rem;
    background-color: #f3f0fc;
    border-radius: 0.5rem;
    border: 1px solid #cdd5e1;
}

h2 {
    font-size: 1.25rem;
    color: #296773;
    margin-bottom: 0.75rem;
    background-color: #e0f7f9;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    display: inline-block;
    border: 1px solid #cdd5e1;
}

ul, ol {
    padding-left: 1.25rem;
    color: #596278;
}

.prep-time ul {
    list-style: none;
}

.instructions ol li strong {
    color: #3a4a67;
}

.nutrition {
    text-align: center;
}

.nutrition p {
    font-size: 0.75rem;
    color: #7a869a;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border: 1px solid #cdd5e1;
}

.nutrition th, .nutrition td {
    padding: 0.75rem;
    border: 1px dashed #cdd5e1; /* Dashed border style for table cells */
}